.CMS-Page-Editor{
    position: relative;
}
.CMS-Block-Header{
    background: white;
    border: darkgray 2px solid;
    padding: 10px;
}
.CMS-Group{
    border: #0d3349 1px solid;
    margin-top: 10px;
    position: relative;
}
.CMS-Group .CMS-Group-Content{
    margin: unset;
    background: lime;
    min-height: 80px;
    height: 100%;
    width: 100%;
}
.CMS-Group .CMS-Group-Content .Block-Item{
    float: left;

}
.CMS-Group .CMS-Group-Control{
    display: none;
    position: absolute;
    left: -40px;
    top: 0;
}
.active{
    display: block;
}
.Block-Item{
    background: red;
    /*height: 100%;*/
    height: 100px;
    width: 100px;
    position: relative;
}
.Block-Item .Block-Item-Width-Control{
    background: black;
    position: absolute;
    right: 0;
    cursor: e-resize;
}