.field{
    float: left;
    position: relative;
    min-height: 50px;
    width: 100%;
    padding: 8px;
}

.field .form-group-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
    border-radius: 5px;
    display: none;
}
.field:hover .form-group-overlay{
    display: block;
}

.field .form-group-overlay .btn-group{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    z-index: 100;
}
.field .form-group-overlay .Field-Width-Control{
    position: absolute;
    right: 0;
    transform: translate(-50%,-50%);
    top: 50%;
    cursor: e-resize;
}
.Field-Placeholder{
    background-color: lightslategrey;
    border-radius: 5px;
}