.gallery-container{
    border-radius: 5px;
    height: 300px;
    width: 100%;
    background: center center/cover no-repeat #343a40;
    margin-bottom: 15px;
    position: relative;
}
.gallery-name{
    position: absolute;
    top: 120px;
    color: white;
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
    margin: unset;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 500;
}
.gallery-toolbar{
    bottom: 5px;
    width: 220px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
.gallery-options{
    border-radius: 5px;
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(0,0,0,0.6);
    z-index: 400;
}
.gallery-container:hover .gallery-name{
    background: unset;
}
.gallery-container:hover .gallery-options{
    display: block;
}
.gallery-container:hover .lock{
    display: none;
}
.btn-gallery-toolbar{
    color: white;
    width: 50px;
}
.btn-gallery-toolbar:hover{
    color: gray;
    border-color: gray;
}
.mover.btn-gallery-toolbar{
    width: 60px;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    position: absolute;
    cursor: move;
}

.gallery-container .lock, .gallery-container .cover{
    border-radius: 5px;
    position: absolute;
    top: 0;
    padding: 15px;
    color: white;
    background: rgba(0,0,0,0.4);
}
.gallery-container .lock{
    right: 0;
}
.gallery-container .cover{
    left: 0;
}

.sortable-placeholder{
    border-radius: 5px;
    background: rgba(0,0,0,0.4);
}