.modal-content{
    border-radius: 0;
}
.modal-icon > i{
    font-size: 92px;
}
.modal-header{
    border-radius: 0;
}
.modal-header .close{
    text-shadow: none;
    position: absolute;
    color: black;
    top: 20px;
    right: 20px;
}
.content-blocks-editor{
    background: white;
    /*padding: 2px;*/
}
.content-blocks-editor .content-block{
    /*padding: 5px;*/
    /*margin: 8px;*/
    background: lightgray;
    float: left;
    border: 2px solid lightgrey;
}
.content-block .content-head{
    display: none;
    position: relative;
    z-index: 1000;
}
.content-head .content-head-maincontrol{
    position: absolute;
    top: -15px;
    left: -15px;
}
.content-head .content-head-plugincontrol{
    position: absolute;
    top: -20px;
    right: -20px;
}
.content-head .content-head-widthcontrol{
    border-radius: 5px;
    padding: 5px;
    background: black;
    position: absolute;
    right: -15px;
    top: 30px;
    color: white;
}
.content-block .content-main{
    min-height: 100px;
}
.content-block .content-main .Content-item{
    display: block;
    margin: 0 auto;
}
.content-block-placeholder{
    background: black;
    height: 150px;
    width: 1000px;
    float: left;
}
.content-block.Active-Block{
    border: dotted 2px navy;
}